body{
	margin-left:3%;
    margin-right: 3%;
 
}

.head{
    animation: down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes down{
    0%{transform: rotateX(90deg)};
    100%{transform: rotateX(0deg)};
}

#main{
    width:96%;
    transition: 1s;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
    padding-top:5%;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: Azonix Regular;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 3%;
  font-size: 3vw;
  margin-left: 60%;
}
.heading .openbtn
{
float:left;
width:5%;
color:black;
font-size:2.2vw;
}

.heading
{
    width:100%;
    height:50px;
    padding-top: 3%;
}

.heading h2{
	float:left;
	width:60%;
	color:black;
    padding-left:3%;
	font-family:Azonix Regular;
    font-size: 3vw;
}

.heading .media{
	width:20%;
	float:right;
	text-align:right;
        padding-top: 1%;
}


.heading .media ul{
	 list-style-type: none;
}

.heading .media a{
   transition: .6s;
   padding-left:7%;

}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media only screen and (max-width:800px) {
  .main {
    width: 80%;
    padding: 0;
  }
  .content, {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .main{
    width: 100%;
  }
}


*{
	
   padding:0px;
   margin:0px;
}

/* Style the tab */
.tab {
    width:100%;
  overflow: hidden;
    padding: 2% 0;
        animation: down;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding-right: 2%;
  transition: 0.3s;
    font:Aileron Regular;
    font-size: 2.2vw;
}


.tab button.active{
    color:grey;
}

/* Style the tab content */
.tabcontent {
    box-sizing: border-box;
    width:100%;
    display: none;
    border: none;
    background: #36454f;
}

.tablinks:active{
    color:gray;
}

.row {
    overflow: hidden;
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 .4vw;
}


/* Create two equal columns that sits next to each other */
.column {
    overflow: hidden;
  -ms-flex: 31%; /* IE 10 */
  flex: 31%;
  padding: 0 0.5vw;
    margin: 0;
}

.column .imgcointaner {
    overflow: hidden;
    width: 100%;
  margin-top: 0.8vw;
  vertical-align: middle;
    transition: 1s;
}


.column img{
    transition: 1s;
}


.column img:hover{
    transform: scale(1.2);
}

.hide{
    overflow: hidden;
}

#portraits{
    transform: translateY(0%);
    animation:down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes down{
    0%{transform: translateY(-100%)};
    100%{transform: translateY(0%)};
}